{% extends "base.html" %}
{% block content %}
    {% if results %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 m-3">
            {% for res in results.Search %}
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg w-full h-48 object-cover" src="{{ res.Poster }}" alt="{{ res.Title }}" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ res.Title }}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Year: {{ res.Year }} / Type: {{ res.Type }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif movies %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 m-3">
            {% for movie in movies %}
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ movie.title }}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Year: {{ movie.year }} / Type: {{ movie.type }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-700 dark:text-gray-400">No movies found.</p>
    {% endif %}
{% endblock content %}